@import url("https://fonts.googleapis.com/css2?family=Texturina&display=swap");
* {
  margin: 0;
  font-family: "Texturina", serif;
}

body {
  background-image: url("./images/backgroundImage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  background-color: black;
  height: 4rem;
  text-align: center;
  font-size: 2rem;
  color: white;
}

header > h3 {
  padding: 0.25em;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1.2rem;
}

.container > h3 {
  color: black;
}
.container > button {
  padding: 1em;
  margin: 0.5em;
  background-color: black;
  color: white;
}

#dothraki-text {
  height: 20rem;
  width: 20em;
  border: 2px solid black;
  margin: 0.5em;
}

footer {
  background-color: black;
  height: 4rem;
  text-align: center;
  font-size: 1.5rem;
  padding: 0.2em;
  color: white;
}
